.doc {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100% - 64px);
    margin: 32px 0;
    overflow: auto;

    .doc-content {
        width: 70%;
    }
}